<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>力泰咨询</title>
</head>
<h1><a href="/leeta/">力泰咨询</a></h1>
<body>
<form action="/leeta/login/" method="post">
    {{ error_message }}
    <br>
    用户名：
    <input type="text" name="user_name">
    <br>
    旧密码：
    <input type="password" name="old_password">
    <br>
    <input type="submit" value="登录">
    旧密码：
    <input type="password" name="new_password">
    <br>
    <input type="submit" value="登录">
</form>
</body>
</html>