{% block content %}
<h2><a href="/leeta/">力泰咨询</a></h2>
    <h1>企业名录</h1>
    <form action="/leeta/search/" method="get">
        按企业名称搜索：
        <input type="text" placeholder="按企业名称搜索" name="q">
        <br>
        按照拨打状态分类:
        <select>
            <option selected="selected" disabled>拨打状态</option>
            <option value =0 name="zero">"未拨打"</option>
            <option value =1 name="one">"错误号码"</option>
            <option value=2 name="two">"打不通"</option>
            <option value=3 name="tree">"接听但无效"</option>
            <option value=4 name="four" id="four">"接听且有效"</option>
        </select>
        <input type="submit" value="搜索">
    </form>
    {% if enterprises %}
      {% for ent in enterprises %}
        <li>
            公司名称：{{ ent.enterprise }}
            <br>
            电话号码：{{ ent.phone_num }}
            <br>
            地址：{{ent.location}}
            <br>
            公司官网：{{ent.website}}
            <br>
            是否访问：{{ent.visited}}
            <br>
            是否拨打：{{ent.phoned}}
            <br>
            拨打状态：{{ent.phoned_status}}
            <br>
            拨打日期：{{ent.phoned_date}}
            <br>
            备注：{{ent.remark}}
            <br>
            企业法人：{{ent.legal_person}}
            <form action="/leeta/update" method="get">
                <input type="hidden" name="ent_id" value={{ ent.id }}>
                <input type="submit" value="修改">
            </form>
        </li>
        <br>
      {% endfor %}

    {% else %}
      <p>您搜索的企业不在数据库中</p>
    {% endif %} 
{% endblock %}